:host {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: "Lato", "Noto Sans", "Arial", sans-serif;
    font-size: 26px;
    font-weight: 300;
}

#desktops {
    list-style: none;
}

.desktop {
    margin: 0 0 15px;

    font-size: 32px;
    text-align: right;

    min-width: 250px;
    padding: 10px 15px;
    transition: background-color 150ms ease-in-out;
}

.desktop:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.desktop i {
    float: left;
    margin-top: 3px;
    margin-right: 25px;
}