/*
 * Nearly all theme colors
 */

$secondary-color: white;
$error-color: #de3c2d;
$password-field-background: rgba(255, 255, 255, 0.2);
$password-field-caret: rgba($password-field-background, 0.6);
$password-field-background-setup: rgba($password-field-background,  0.3); // Background on setup screen

$outer-background: black;
$outer-foreground: white; // Text color mostly

$splash-text-shadow: 1px 1px black;
